<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title><%= typeof title !== 'undefined' ? title : 'Pedidos' %></title>

        <%- include('../../../../partials/head/googlefonts.ejs') %> <!-- Google Fonts -->
        <%- include('../../../../partials/head/fontawesome.ejs') %> <!-- Font Awesome -->
        <%- include('../../../../partials/head/tailwindcss.ejs') %> <!-- Tailwind CSS -->

        <!-- CODDING: scrollbar personalizado -->
        <link rel="stylesheet" href="/css/scrollbar.css">
        <link rel="stylesheet" href="/css/pages/ecommerce/dashboard/pedidos.css">

 
    </head>
    <body class="bg-[#F4F4F4] h-screen w-full border-2 border-red-900">
        <div class="h-full w-full flex flex-row">
            <!-- CODDING: Menu lateral -->
            <div id="menu-lateral-container" class="hidden h-full py-[32px] min-w-[300px] md:flex flex-col justify-between items-center bg-azul space-y-[10px]">
               
                
                

                <!-- CODDING: Fechar --> 
                <div id="menu-lateral-toggle" class="menu-item min-h-[40px] flex flex-row justify-center items-center text-white space-x-[10px] cursor-pointer hover:bg-[#1992ff] px-[8px]">
                    <i class="fa-solid fa-bars text-xl min-w-[40px] min-h-[40px] flex flex-row justify-center items-center"></i> <span class="text-base min-w-[150px]">Fechar</span>
                </div>
              
            
                <div id="menu-lateral-items" class="w-full h-[420px] py-[10px] flex flex-col overflow-y-auto space-y-[5px] overflow-x-hidden">
                    <!-- renderizar itens aqui -->
                </div>

                <!-- CODDING: Sair --> 
                <div id="menu-lateral-toggle" class="menu-item min-h-[40px] flex flex-row justify-center items-center text-white space-x-[10px] cursor-pointer hover:bg-[#1992ff] px-[8px]">
                    <i class="fa-solid fa-arrow-right-from-bracket text-xl min-w-[40px] min-h-[40px] flex flex-row justify-center items-center"></i> <span class="text-base min-w-[150px]">Sair</span>
                </div>


             
              

            </div>

            
            <div class="h-full flex-grow border-2 border-yellow-900 flex flex-col">
                <!-- CODDING: Barra do topo -->
                <div class="h-[70px]  flex flex-row justify-center items-center"> 
                    Barra do Topo
                </div>

                <!-- CODDING: Area de conteudo -->
                <div class="w-full h-full border-2 border-blue-900 flex flex-col items-center px-[32px] overflow-y-auto">
                    
                    <!-- CODDING: Filtrar pedidos por dia de hoje, ultimos 7 dias, 30 dias ou personalizado --> 
                    <div class="w-full pt-[32px] pb-[16px] flex flex-row justify-start items-center">
                        <div class="flex flex-row space-x-[5px]">
                            <div id="filtrar-pedidos-de-hoje" class="h-[40px] px-[16px] flex justify-center items-center rounded-[10px] bg-azul text-white cursor-pointer">
                                <span class="text-sm">Hoje</span>
                            </div>
                            <div id="filtrar-pedidos-ultimos-7-dias" class="h-[40px] px-[16px] flex justify-center items-center rounded-[10px] border-2 border-azul text-azul cursor-pointer">
                                <span class="text-sm">7 dias</span>
                            </div>
                            <div id="filtrar-pedido-ultimos-30-dias" class="h-[40px] px-[16px] flex justify-center items-center rounded-[10px] border-2 border-azul text-azul cursor-pointer">
                                <span class="text-sm">30 dias</span>
                            </div>
                            <div id="filtrar-pedido-data-personalizada" class="h-[40px] px-[16px] flex justify-center items-center rounded-[10px] border-2 border-azul text-azul cursor-pointer">
                                <span class="text-sm">Personalizado</span>
                            </div>
                        </div>
                    </div>
                    
                    <!-- CODDING: Cards com quantidade de pedidos feitos, entregues e cancelados -->
                    <div class="w-full grid grid-cols-1 md:grid-cols-3 gap-4 md:gap-6">
                        <!-- CODDING: Pedidos -->
                        <div class="bg-white px-[16px] py-[16px] space-x-[15px] rounded-[10px]  shadow-[0_8px_24px_rgba(149,157,165,0.2)] flex flex-row justify-start items-center ">
                            <div class="min-w-[50px] min-h-[50px] rounded-[10px] bg-azul text-white flex justify-center items-center shadow-[0_3px_8px_rgba(0,0,0,0.24)]">
                                <i class="fa-solid fa-truck text-xl"></i>
                            </div>
                            <div class="flex flex-col justify-center items-">
                                <p class="text-base/none text-bold text-gray-500">Pedidos</p>
                                <p id="pedidos-realizados-paragraph" class="text-xl font-black text-gray-600">0</p>
                            </div>
                        </div>

                        <!-- CODDING: Pedidos Entregues -->
                        <div class="bg-white px-[16px] py-[16px] space-x-[15px] rounded-[10px]  shadow-[0_8px_24px_rgba(149,157,165,0.2)] flex flex-row justify-start items-center ">
                            <div class="min-w-[50px] min-h-[50px] rounded-[10px] bg-green-500 text-white flex justify-center items-center shadow-[0_3px_8px_rgba(0,0,0,0.24)]">
                                <i class="fa-solid fa-truck text-xl"></i>
                            </div>
                            <div class="flex flex-col justify-center items-">
                                <p class="text-base/none text-bold text-gray-500">Entregues</p>
                                <p id="pedidos-entregues-paragraph" class="text-xl font-black text-gray-600">0</p>
                            </div>
                        </div>

                        <!-- CODDING: Pedidos Cancelados -->
                        <div class="bg-white px-[16px] py-[16px] space-x-[15px] rounded-[10px]  shadow-[0_8px_24px_rgba(149,157,165,0.2)] flex flex-row justify-start items-center ">
                            <div class="min-w-[50px] min-h-[50px] rounded-[10px] bg-red-500 text-white flex justify-center items-center shadow-[0_3px_8px_rgba(0,0,0,0.24)]">
                                <i class="fa-solid fa-truck text-xl"></i>
                            </div>
                            <div class="flex flex-col justify-center items-">
                                <p class="text-base/none text-bold text-gray-500">Cancelados</p>
                                <p id="pedidos-cancelados-paragraph" class="text-xl font-black text-gray-600">0</p>
                            </div>
                        </div>
                    </div>

                    
                    <div class="w-full py-[32px] grid grid-cols-1 md:grid-cols-3 gap-4 md:gap-6">
                        <!-- CODDING: Lista de pedidos  -->
                        <div class="col-span-1 md:col-span-3 h-[400px] py-[16px] px-[16px] bg-white rounded-[10px] shadow-[0_8px_24px_rgba(149,157,165,0.2)] flex flex-col justify-start items-center">
                            <!-- CODDING: Pesquisar -->
                            <div class="w-full relative">
                                <input type="text" placeholder="Pesquisar pedido" class="w-full h-[40px] pl-[40px] border border-gray-500 placeholder-gray-500 rounded-[10px]">
                                <i class="fa-solid fa-magnifying-glass w-[40px] h-[40px] flex justify-center items-center text-azul rounded-tl-[10px] rounded-bl-[10px] text-sm absolute left-0 top-0"></i>
                            </div>

                            <!-- CODDING: Lista -->
                            <div id="lista-de-pedidos-table-container" class="w-full overflow-x-auto mt-[16px]">
                                <table id="lista-de-pedidos-table" class="w-full table-auto">
                                    <thead>
                                        <tr class="text-sm ">
                                            <th class="text-start">pedido</th>
                                            <th class="text-start">valor</th>
                                            <th class="text-start">status</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody class="space-y-[10px] divide-y divide-gray-400">
                                        
                                        <!-- CODDING: User success -->
                                        <tr class="text-sm border-b-[1px] border-gray-400">
                                            <td class="min-w-[200px] py-[16px]">
                                               
                                                <div class="flex flex-row space-x-[5px]">
                                                    <div class="w-[40px] h-[40px] rounded-full shadow-[0_3px_8px_rgba(0,0,0,0.24)]">
                                                        <img src="/img/profile/default/default.png" class="w-auto h-auto max-w-full max-h-full" alt="">
                                                    </div>
                                                    <div class="flex flex-col">
                                                        <span class="whitespace-nowrap ">David Eduardo</span>
                                                        
                                                        <span class="whitespace-nowrap text-gray-500">25/02/2024 11:59</span>
                                                    </div>
                                                </div>
                                            </td>
                                           
                                            <td class="min-w-[200px] py-[16px]">
                                                <div class="flex flex-row justify-start items-center space-x-[5px]">
                                                    <i class="fa-solid fa-money-bill-trend-up text-base text-green-500"></i>
                                                    <div class="flex flex-col items-start ">
                                                        <span class="whitespace-nowrap text-sm/none">R$ 37.90</span>
                                                        <span class="whitespace-nowrap text-gray-500">cartão de crédito</span>
                                                    </div>
                                                </div>
                                                
                                            </td>

                                            <td class="min-w-[150px] max-w-[150px] py-[16px]">
                                                <div class="flex justify-start items-center">
                                                    <span class="flex justify-start items-center items-center bg-[#C2F3D6] text-[#24AC5E] text-sm whitespace-nowrap px-2.5 py-0.5 rounded-full ">
                                                        entregue
                                                    </span>
                                                </div>
                                                
                                            </td>
                                            <td class="min-w-[200px] py-[16px]">
                                                <button class="px-[8px] py-[4px] h-[40px] space-x-[5px] rounded-[5px] text-azul whitespace-nowrap shadow-[0_3px_8px_rgba(0,0,0,0.24)]">
                                                    <i class="fa-solid fa-arrow-up-right-from-square"></i>
                                                    <span>Abrir pedido</span>
                                                </button>
                                            </td>
                                            
                                        </tr>

                                        <!-- CODDING: User warning -->
                                        <tr class="text-sm border-b-[1px] border-gray-400">
                                            <td class="min-w-[200px] py-[16px] ">
                                                <div class="flex flex-row space-x-[5px]">
                                                    <div class="w-[40px] h-[40px] rounded-full shadow-[0_3px_8px_rgba(0,0,0,0.24)]">
                                                        <img src="/img/profile/default/default.png" class="w-auto h-auto max-w-full max-h-full" alt="">
                                                    </div>
                                                    <div class="flex flex-col">
                                                        <span class="whitespace-nowrap ">David Eduardo</span>
                                                        
                                                        <span class="whitespace-nowrap text-gray-500">25/02/2024 11:59</span>
                                                    </div>
                                                </div>
                                            </td>
                                           
                                            <td class="min-w-[200px] py-[16px]">
                                                <div class="flex flex-row justify-start space-x-[5px]">
                                                    <i class="fa-solid fa-money-bill-trend-up text-base text-green-500"></i>
                                                    <div class="flex flex-col items-start ">
                                                        <span class="whitespace-nowrap text-sm/none">R$ 37.90</span>
                                                        <span class="whitespace-nowrap text-gray-500">pix</span>
                                                    </div>
                                                </div>
                                                
                                            </td>

                                            <!-- STATUS -->
                                            <td class="hidden min-w-[100px] max-w-[100px] py-[16px] border-2 border-red-900">
                                                <div class="flex justify-start border-2 border-red-900">
                                                    <div class="border-l-[4px] border-[#FDA600] px-[8px] py-[4px] bg-[#FEDB9B] text-[#D18706] flex flex-row justify-start items-center space-x-[5px] ">
                                                        <i class="fa-solid fa-tag"></i>
                                                        <span>aguardando atendimento</span>
                                                    </div>
                                                </div>
                                                
                                            </td>
                                            <td class="min-w-[150px] max-w-[150px] py-[16px]">
                                                <div class="flex justify-start items-center">
                                                    <span class="flex justify-start items-center items-center bg-[#FEDB9B] text-[#CC8604] text-sm whitespace-nowrap px-2.5 py-0.5 rounded-full ">
                                                        aguardando atendimento
                                                    </span>
                                                </div>
                                                
                                            </td>
                                            <td class="hidden min-w-[100px] max-w-[100px] py-[16px]">
                                                <div class="flex justify-start items-center">
                                                    <span class="flex justify-start items-center items-center bg-[#C2F3D6] text-[#24AD5C] text-sm whitespace-nowrap px-2.5 py-0.5 rounded-full ">
                                                        
                                                        entregue
                                                    </span>
                                                </div>
                                                
                                            </td>

                                            <td class="min-w-[200px] py-[16px]">
                                                <button class="px-[8px] py-[4px] h-[40px] space-x-[5px] rounded-[5px] text-azul whitespace-nowrap shadow-[0_3px_8px_rgba(0,0,0,0.24)]">
                                                    <i class="fa-solid fa-arrow-up-right-from-square"></i>
                                                    <span>Abrir pedido</span>
                                                </button>
                                            </td>
                                            
                                        </tr>

                                        <!-- CODDING: User danger -->
                                        <tr class="text-sm border-b-[1px] border-gray-400">
                                            <td class="min-w-[200px] py-[16px]">
                                               <div class="flex justify-start space-x-[5px]">
                                                    <div class="w-[40px] h-[40px] rounded-full shadow-[0_3px_8px_rgba(0,0,0,0.24)]">
                                                        <img src="/img/profile/default/default.png" class="w-auto h-auto max-w-full max-h-full" alt="">
                                                    </div>
                                                    <div class="flex flex-col">
                                                        <span class="whitespace-nowrap ">David Eduardo</span>
                                                        
                                                        <span class="whitespace-nowrap text-gray-500">25/02/2024 11:59</span>
                                                    </div>
                                               </div>
                                            </td>
                                           
                                            <td class="min-w-[200px] py-[16px]">
                                                <div class="flex flex-row justify-start items-center space-x-[5px]">
                                                    
                                                    <div class="flex flex-col items-start ">
                                                        <span class="whitespace-nowrap text-sm/none text-[#FD4755]">R$ 37.90</span>
                                                        <span class="whitespace-nowrap text-gray-500">dinheiro</span>
                                                    </div>
                                                </div>
                                                
                                            </td>
                                            
                                            <td class="min-w-[150px] max-w-[150px] py-[16px]">
                                                <div class="flex justify-start items-center">
                                                    <span class="flex justify-start items-center items-center bg-[#FFE1E3] text-[#FD4755] text-sm whitespace-nowrap px-2.5 py-0.5 rounded-full ">
                                                        cancelado
                                                    </span>
                                                </div>
                                                
                                            </td>
                                            <td class="py-[16px] px-[16px]">
                                                <button class="px-[8px] py-[4px] h-[40px] space-x-[5px] rounded-[5px] text-azul whitespace-nowrap shadow-[0_3px_8px_rgba(0,0,0,0.24)]">
                                                    <i class="fa-solid fa-arrow-up-right-from-square"></i>
                                                    <span>Abrir pedido</span>
                                                </button>
                                            </td>
                                            
                                        </tr>

                                        <!-- CODDING: User info -->
                                        <tr class="text-sm border-b-[1px] border-gray-400">
                                            <td class="min-w-[200px] py-[16px]">
                                               
                                                <div class="flex justify-start space-x-[5px]">
                                                    <div class="w-[40px] h-[40px] rounded-full shadow-[0_3px_8px_rgba(0,0,0,0.24)]">
                                                        <img src="/img/profile/default/default.png" class="w-auto h-auto max-w-full max-h-full" alt="">
                                                    </div>
                                                    <div class="flex flex-col">
                                                        <span class="whitespace-nowrap ">David Eduardo</span>
                                                        
                                                        <span class="whitespace-nowrap text-gray-500">25/02/2024 11:59</span>
                                                    </div>
                                                </div>
                                            </td>
                                           
                                            <td class="min-w-[200px] py-[16px]">
                                                <div class="flex flex-row justify-start items-center space-x-[5px]">
                                                    <i class="fa-solid fa-money-bill-trend-up text-base text-green-500"></i>
                                                    <div class="flex flex-col items-start ">
                                                        <span class="whitespace-nowrap text-sm/none">R$ 37.90</span>
                                                        <span class="whitespace-nowrap text-gray-500">dinheiro</span>
                                                    </div>
                                                </div>
                                                
                                            </td>
                                            
                                            <td class="min-w-[150px] max-w-[150px] py-[16px]">
                                                <div class="flex justify-start items-center">
                                                    <span class="flex justify-start items-center items-center bg-[#D6F0FF] text-[#3FB5FF] text-sm whitespace-nowrap px-2.5 py-0.5 rounded-full ">
                                                        produção
                                                    </span>
                                                </div>
                                                
                                            </td>
                                            <td class="py-[16px] px-[16px]">
                                                <button class="px-[8px] py-[4px] h-[40px] space-x-[5px] rounded-[5px] text-azul whitespace-nowrap shadow-[0_3px_8px_rgba(0,0,0,0.24)]">
                                                    <i class="fa-solid fa-arrow-up-right-from-square"></i>
                                                    <span>Abrir pedido</span>
                                                </button>
                                            </td>
                                            
                                        </tr>
                                        

                                       
                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        
                        <div class="col-span-1 bg-white rounded-[10px] shadow-[0_8px_24px_rgba(149,157,165,0.2)]">
                            <canvas id="myChart" class="w-auto h-auto"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- CODDING: Chart.js -->
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        
        <script>const ctx = document.getElementById('myChart');

            const data = {
            labels: ["00:00","00:50","02:45","06:25","09:43","12:32","18:00"],
            datasets: [{
                label: 'Pedidos',
                data: [1, 1, 1,1,1,1,1],
                fill: false,
                borderColor: '#0086FF',
                tension: 0.1
            },{
                label: 'Entregues',
                data: [1, 1, 1,1,1,1,1],
                fill: false,
                borderColor: '#34D399',
                tension: 0.1
            },{
                label: 'Cancelados',
                data: [0,0,0,1,0,0,0],
                fill: false,
                borderColor: '#EF4444',
                tension: 0.1
            }]
            };

            new Chart(ctx, {
            type: 'line',
            data: data,
            options: {
                scales: {
                y: {
                    beginAtZero: true
                }
                }
            }
            });</script>
        <script src="/js/pages/ecommerce/dashboard/pedidos/pedidos.js">
            
        </script>
    </body>
</html>