/* animação de alertas */
.show-alert-with-animation{
    animation: show_slide 1s ease forwards;
}
@keyframes show_slide {
    0%{
        transform: translateX(100%); 
    }
    40%{
        transform: translateX(-10%); 
    }
    80%{
        transform: translateX(0%); 
    }
    100%{
        transform: translateX(-10%); 
    }
}

.hidden-alert-with-animation{
    animation: hidden_animation_slide 1s ease forwards;
}
@keyframes hidden_animation_slide {
    0%{
        transform: translateX(-10%); 
    }
    40%{
        transform: translateX(0%); 
    }
    80%{
        transform: translateX(-10%); 
    }
    100%{
        transform: translateX(100%); 
    }
}
