<html>
    <head>
        <title><%= title || 'Comprar' %></title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <%- include('../../partials/head/googlefonts.ejs') %>
        <%- include('../../partials/head/tailwindcss.ejs') %>
        <%- include('../../partials/head/fontawesome.ejs') %>
    </head>
    <body>
        <!-- CODDING: Barra de navegação -->
        <nav class="h-[]">
            comprar produto
        </nav>
    </body>
</html>