<nav class="flex flex-col bg-azul w-screen">
    <div class="flex flex-row justify-between items-center space-x-[20px] px-[32px] py-[16px]">
        <!-- menu mobile -->
        <div id="menu-mobile-bars-container" class="relative sm:hidden h-[30px] min-w-[30px] rounded-tl-[10px] rounded-tr-[10px] flex flex-row justify-center items-center">
            <i id="menu-mobile-bars-icon" class="fa-solid fa-bars text-[30px] text-white"></i>

            <!-- dropdown -->
            <div id="menu-mobile-dropdown" class="hidden absolute border-b-[5px] rounded-[10px] shadow-[0_5px_15px_rgba(0,0,0,0.35)] border-azul z-10 top-[40px] left-0 bg-white flex flex-col w-[80vw]">

                <% if(typeof user !== 'undefined') {%>
                    <!-- perfil logado -->
                    <div class="flex flex-row space-x-[10px] justify-center items-center  py-[32px]">
                        <div class="w-[50px] h-[50px] bg-[#0086FF] flex flex-row justify-center items-center overflow-hidden rounded-full shadow-[0_5px_15px_rgba(0,0,0,0.35)]">
                            <img class="w-full" src="/img/profile/default/default.jpeg" alt="imagem de perfil"/>
                        </div>
                        <div class="flex flex-col items-start justify-center text-sm text-azul">
                            <p class="font-bold leading-none"><%= user.name %> <% if(typeof user.isAdmin !== 'undefined'){ %><span class="px-[16px] rounded-[10px] bg-azul text-white">ADMIN</span><%}%></p>
                            <p class="text-azul leading-none <% if(typeof user.isAdmin !== 'undefined'){ %>leading-normal<%}%> "><%= user.email %></p>
                        </div>
                    </div>

                    <div class="flex flex-row justify-center items-center">
                        <hr class="w-[80%]">
                    </div>
                    
                    <!-- sair -->
                    <a href="/logout">
                        <div class="flex flex-row justify-center items-center cursor-pointer py-[16px]">
                            <div class="bg-azul w-[80%] flex flex-row justify-center items-center space-x-[16px] rounded-[5px] py-[8px] ">
                                <i class="fa-solid fa-right-from-bracket text-sm text-white"></i>
                                <p class="text-sm text-white">Sair</p>
                            </div>
                        </div>
                    </a>
                <%}else{%>
                    <!-- realizar login -->
                    <div class="flex flex-col justify-center items-center py-[32px] space-y-[16px]">
                        <div class="flex flex-row justify-center w-full space-x-[10px]">
                           
                            <svg width="62" height="62" fill="none" xmlns="http://www.w3.org/2000/svg" alt="usuario sem foto"><path d="M31 0c17.12 0 31 13.88 31 31 0 17.12-13.88 31-31 31C13.88 62 0 48.12 0 31 0 13.88 13.88 0 31 0z" fill="#fff"></path><path d="M31 16.174a9.435 9.435 0 100 18.87 9.435 9.435 0 000-18.87zm0 21.565c-2.916 0-7.17.942-10.492 2.367-3.889 1.669-5.682 3.496-5.682 5.142 0 .32.279.578.622.578h31.104c.343 0 .622-.259.622-.578 0-1.646-1.793-3.473-5.682-5.142C38.171 38.681 33.917 37.74 31 37.74z" fill="#0086FF"></path></svg>
                            <div class="flex flex-col items-start justify-center">
                                <p class="text-base/none font-bold Xtext-[#404040]">Entre ou Cadastre-se</p>
                                <p class="text-sm/none Xtext-[#404040]">E-commerce</p>
                               
                            </div>
                        </div>

                        <div class="flex flex-col w-full px-[16px] space-y-[5px]">
                            <a href="/login" class="w-full h-[40px] rounded-[10px] bg-azul text-white text-sm  flex flex-row justify-center items-center"><i class="fa-solid fa-arrow-right-to-bracket mr-[10px]"></i> Entrar</a>
                            <a href="/login" class="w-full h-[40px] rounded-[10px] bg-transparent border-2 border-azul text-azul text-sm flex flex-row justify-center items-center"><i class="fa-solid fa-arrow-right-to-bracket mr-[10px]"></i> Cadastra-se</a>
                        </div>
                    </div>

                <%}%>
                

                
                
            </div>
        </div>

        <!-- logo desktop -->
        <div class="hidden sm:hidden md:flex min-w-[300px] min-h-[60px]">
            <img src="img/logo/logo.png" class="w-auto h-auto max-w-full max-h-full"></img>
        
        </div>
        <div class="hidden sm:flex md:hidden min-w-[90px] min-h-[60px]">
            <img src="img/logo/logo-cart.png" class="w-auto h-auto max-w-full max-h-full"></img>
        
        </div>

        <!-- barra de navegação -->
        <div class="flex flex-row flex-grow relative">
            <input type="text" placeholder="Procurar produto" class="w-full focus:outline-none rounded-[10px] text-sm sm:text-base h-[50px] bg-white text-gray-900 pl-[50px] pr-[40px] py-2.5">
            <div class="absolute left-0 w-[50px] h-[50px] flex flex-row justify-center items-center ">
                <i class="fa-solid fa-magnifying-glass text-[18px] text-azul"></i>
            </div>
        </div>

        <!-- realizar login desktop -->
        <div class="hidden sm:flex">
            <!-- entre ou cadastre-se-->
            <div class="flex flex-row space-x-[10px] relative">
                <svg width="32px" height="32px" viewBox="0 0 35 34" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill="#fff" fill-opacity="0.01" d="M4.204 4.2H29.83v25.6H4.204z"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M17.017 8.466a4.269 4.269 0 014.272 4.267A4.269 4.269 0 0117.017 17a4.269 4.269 0 01-4.27-4.267 4.269 4.269 0 014.27-4.267zm0 1.6a2.668 2.668 0 00-2.67 2.667 2.668 2.668 0 002.67 2.667 2.668 2.668 0 002.67-2.667 2.668 2.668 0 00-2.67-2.667zm0 8.534c1.478 0 3.53.48 5.175 1.24 2.07.955 3.368 2.246 3.368 3.826 0 1.031-.837 1.867-1.869 1.867H10.344a1.868 1.868 0 01-1.87-1.867c0-1.58 1.3-2.87 3.369-3.826 1.645-.76 3.696-1.24 5.174-1.24zm0 1.6c-1.251 0-3.077.435-4.502 1.093-1.67.77-2.438 1.614-2.438 2.373 0 .148.12.267.267.267H23.69c.148 0 .267-.12.267-.267 0-.76-.77-1.603-2.438-2.373-1.425-.658-3.251-1.093-4.503-1.093z" fill="#fff"></path><ellipse cx="17.017" cy="17" rx="16.017" ry="16" stroke="#fff" stroke-width="2"></ellipse></svg>
                
                <div class="flex flex-row justify-start items-center">
                    
                    <a href="/login"><p class="text-sm/none text-white w-[120px]"><span class="font-bold">Olá,</span> Entre ou Cadastre-se <i class="fa-solid fa-chevron-down text-white text-sm/none"></i></p></a>
                    
                </div>

                <!-- dropdown -->
                <div class="top-[48px] z-10 rounded-[10px] right-0 w-[300px] h-[400px] bg-white border-b-[5px] border-azul absolute">

                </div>
            </div>
        </div>

        

        <!-- icone de favorito e carrinho de compras -->
        <div class="flex flex-row items-start space-x-[20px]">
            <!-- icone de favorito -->
            <div class="flex flex-row items-center justify-center w-[30px] sm:w-[40px] h-[30px] sm:h-[40px] relative transition-transform duration-500 hover:scale-110 cursor-pointer">
                <i class="fa-solid fa-heart text-white text-[30px] sm:text-[40px] "></i>
                <div class="absolute right-[-10px] bottom-[-10px] w-[24px] sm:w-[28px] h-[24px] sm:h-[28px] rounded-full flex flex-row justify-center items-center border-[2px] border-azul bg-[#58C22E]">
                    <p class="text-[14px] text-white">0</p>
                </div>
            </div>
            <!-- icone de carrinho -->
            <div class="relative flex flex-row items-center justify-center w-[30px] sm:w-[40px] h-[30px] sm:h-[40px] transition-transform duration-500 hover:scale-110 cursor-pointer">
                <i class="fa-solid fa-bag-shopping text-white text-[30px] sm:text-[40px]"></i>
                <div class="absolute right-[-10px] bottom-[-10px] flex flex-row items-center justify-center w-[24px] sm:w-[28px] h-[24px] sm:h-[28px] bg-[#58C22E] border-2 border-azul rounded-full">
                    <p class="text-[14px] text-white">0</p>
                </div>
            </div>
        </div>
    </div>

    <div>
        <hr class="h-[5px]  bg-gradient-to-r from-[#FECB08] via-[#D039F2] to-[#1BDE1E] border-none">
    </div>
</nav>

<script src="../js/navbar/navbar-mobile-first.js"></script>